body {
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

button {
    font-family: 'Dosis', sans-serif;
}

button:focus {
    outline: none;
}

// Colors
$pinkColor:#ff006e;
$greenColor:#0fd996;
$textColor:#191716;

// For Boxes
#boxes{

    // For Box-1
    .dec{
        color: $pinkColor;
        padding-left: 4rem;
    }

    .para{
        font-style: normal;
    }

    .wrap{
        // border:size style color
        border: 5px solid $pinkColor;

        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;

        width: 50%;

        // transition:Default Property Duration
        // transition-timing-function:linear - specifies a transition effect with the same speed from start to end.
        transition: all 1s linear;

        &:hover{
            width: 50%;
            height: 70%;
            border-radius: 50%;
            border-color: $pinkColor;
            padding: 1rem;
        }
    }

    // For Box-2
    .furn{
        padding-top: 2rem;
        .fur{
            color: $greenColor;
            padding-left: 3rem;
        }

        .wrap-fur{
            // border:size style color
            border: 5px solid $greenColor;

            border-top-right-radius: 2rem;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;

            width: 50%;
            height: 60%;

            // transition:Default Property Duration
            // transition-timing-function:linear - specifies a transition effect with the same speed from start to end.
            transition: all 1s linear;

            &:hover {
                width: 50%;
                height: 50%;
                border-radius: 50%;
                border-color: $greenColor;
                padding-bottom: 2rem;
            }

        }
    }

    // For Box-3
    .proj{
        padding-top: 2rem;
        .pro{
            color: red;
            padding-left: 3rem;
        }

        .wrap-pro{
            // border:size style color
            border: 5px solid red;

            border-top-right-radius: 2rem;
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            border-bottom-left-radius: 2rem;

            width: 50%;
            height: 60%;

            // transition:Default Property Duration
            // transition-timing-function:linear - specifies a transition effect with the same speed from start to end.
            transition: all 1s linear;

            &:hover {
                width: 50%;
                height: 50%;
                border-radius: 50%;
                border-color: red;
                padding-bottom: 2rem;
            }

        }
    }

}

// Media Queries
// For Extra Small Devices (phones, 600px and down)

@media only  screen and (max-width:600px){
    #boxes{

        .dec{
            padding-left: 2rem;
        }

        .furn{
            .fur{
                padding-left: 2rem;
            }
            .wrap-fur{
                height: 50%;

            }
        }

        .proj{
            .pro{
                padding-left: 2rem;
            }
            .wrap-pro {
                height: 90%;

            }
        }

        
    }
}